{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div style="border: 1px solid black " class="p-md-4 pt-lg-5 pb-xl-3 text-center">
    <h1> Juss Gym Exercises </h1>
</div>

<div style="border: 1px solid black " class="p-md-4 pt-lg-5 pb-xl-3 text-center"> Chest Exercises </div>
<div style="border: 1px solid black " class="p-md-4 pt-lg-5 pb-xl-3 text-center"> Back Exercises </div>
<div style="border: 1px solid black " class="p-md-4 pt-lg-5 pb-xl-3 text-center"> Leg Exercises </div>
<div style="border: 1px solid black " class="p-md-4 pt-lg-5 pb-xl-3 text-center"> Arm Exercises </div>

{%  endblock %}